/* .main-container{
    justify-content: center;
    
} */
.sub-container{
    border: 1px solid gray;
    border-radius: 6px;
    margin: 20px;
    padding: 20px;
    margin-right: 40x;
}
.input{
    line-height: 40px;
    font-size: 18px;
    width: 320px;
    border-radius: 6px;
    border: none;
    border-bottom: 1px solid gray;
    margin: 18px;
    /* background-color: lightblue; */
}
.input-btn{
    padding: 10px 15px;
    font-size: 17px;
    font-family: sans-serif;
    margin-top: 12px;
    margin-left: 19px;
    border: none;
    background-color:orange;
    width: 330px;
    text-align: center;
    cursor: pointer;
}
form{
    position: relative;
    right: 45px;
}
.toggle-style{
    font-size: 13px;
    text-align: center;
}
.toggle-style button{
    border: none;
    font-size: 12px;
    background-color: white;
    color: orange;
    cursor: pointer;
}
.toggle-style button:focus{
    outline: 0;
}
.form-title h3{
    position: relative;
    left: 75px;
}