body{
    background-color: rgb(255, 245, 246);
}
.main-container{
    display: flex;
    justify-content: space-evenly;
}
h2{
    text-align: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

